<h1>Places Finder App</h1>

<div class="infoContainer">

  <div class="selectCategory">

    <label for="place">Category</label>

    <select [(ngModel)]="selectedCategoryType" (ngModelChange)="handleSelectCategory($event)" required>
      <option [value]="opt.id" *ngFor="let opt of categoryTypes">
        {{opt.value}}
      </option>
    </select>

    <label class="description">
      Please choose a category of places to get
    </label>

  </div>

  <div class="selectCountry">

    <label for="place">Country</label>

    <select [(ngModel)]="selectedCountry" (ngModelChange)="handleSelectCountry($event)">
      <option [value]="opt.code" *ngFor="let opt of countryList">
        {{opt.name}}
      </option>
    </select>

    <label class="description">
        Please choose a country to get limited results on Search
      </label>

  </div>

  <div class="radius">

    <label for="place">Radius (meters)</label>

    <select [(ngModel)]="selectedRadiusValue"  (ngModelChange)="handleSelectRadius($event)">
      <option [value]="radius" *ngFor="let radius of radiusValues">
        {{radius}}
      </option>
    </select>

    <label class="description">
        Please choose a radius around the searched location
    </label>

  </div>

  <div class="autocompleteInput">

    <div class="form-group">

      <label for="place">Search</label>

      <input  type="text" id="place" #search [formControl]="searchControl" autocomplete="off" autocapitalize="off"
        spellcheck="false" 
        [attr.disabled]="handleSearchInputDisable()"
        >

    </div>

  </div>

</div>


<div class="bodyContainer">

  <!--Results of places-->
    <div class="resultsContainer">
        <table class="resultsTable">
          <tbody id="results" *ngFor="let marker of markers" >
            <td (mouseover)=resultHover($event,marker.placeResult)>
              {{marker.placeResult.name}}
            </td>
          </tbody>
        </table>
      </div>

  <agm-map #mapElement id="agmID" [latitude]="lat" [longitude]="lng"
  (mapReady)="mapReady($event)"
  [zoom]="8"
  >

    <!-- main location marker -->
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

    <!--places marker-->
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.placeResult.geometry.location.lat()"
      [longitude]="marker.placeResult.geometry.location.lng()"
      [iconUrl]="marker.icon"
      
      >
      <!--window Info when on click places marker -->
      <agm-info-window>
        <div [innerHTML]="marker.placeResult.name"></div>
          <img *ngFor="let photo of photos" src="photo.getUrl({ maxHeight: 200, maxWidth: 200 })"/>
      </agm-info-window>

    </agm-marker>

  </agm-map>
</div>
