.infoContainer {

  display: flex;
  flex-direction: row;
  padding: 5% 0 5% 0;
  width: 80%;
  justify-content: space-between;
}

.autcompleteInput {
  flex: 1;

}

#mapContainer {
  height: 800px;
  width: 800px;
}


.selectCategory {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.selectCountry {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group {
  /* flex: 0; */
  display: flex;
  flex-direction: column;
}

/* .searchInput {
  flex: 1;
} */

agm-map {
  height: 800px;
  width: 800px;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 3%;
  border: 2px solid #eee;
}

select {
  width: 200px;
  height: 35px;
  border-radius: 3%;
  border: 2px solid #eee;
}
